* {
    padding: 0;
    margin: 0;
    font-family: 'Apercu', 'Arial';
}

/*Fonts*/
@font-face {
    font-family: 'Apercu';
    src: url('fonts/Apercu-Regular.woff2') format('woff2'),
        url('fonts/Apercu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('fonts/Apercu-Bold.woff2') format('woff2'),
        url('fonts/Apercu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

h1 {
    color: #dd0031;
}
h6 {
    font-size: 14pt;
}
h3 {
    color: #dd0031;
    font-size: 16pt;
    font-family: 'Apercu-Bold', 'Arial';
}

.wrapper {
    margin-right: auto; 
    margin-left:  auto;
    max-width: 960px; 
    margin-top: 50px;
}

header {
    text-align: center;
}

.section {
    margin: 3rem 0; 
}
.section__description, .section__images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.description-category {
    max-width: 300px;
}

.sub-text {
    font-family: 'Apercu-Bold', 'Arial';
    text-align: center;
    position: relative;
    top: 20px;

}
li {
    margin-left:3rem;
    line-height: 1.5;
}

.sub-title--top {
    margin-top: 1rem;;
}

img {
    max-width: 350px;
}

.logo {
    max-width: 70px;
    margin-bottom: 1rem;
}

/* URL to Chick-fil-A site */
.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #dd0031;
}


/*responsive*/
@media (max-width: 1075px) {
    .section__description, .section__images {
        flex-direction: column;
        margin: 0 auto;
      max-width: 350px;
        }

    .section {
        margin-left: auto;
        margin-right: auto;
      max-width: 400px;
        
    } 
    .description-category {
        margin-top: 2rem;
    }

    img, .sub-text {
        margin: auto;
    }


    .sub-text--top  {
        margin-top: 2rem;
    }
  }

  /*for mobile*/
  @media (max-width: 400px) {
    .wrapper {
        margin: 5%;
    }
  }