* {
    padding: 0;
    margin: 0;
    font-family: 'Apercu';
}

/*Fonts*/
@font-face {
    font-family: 'Apercu';
    src: url('fonts/Apercu-Regular.woff2') format('woff2'),
        url('fonts/Apercu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('fonts/Apercu-Bold.woff2') format('woff2'),
        url('fonts/Apercu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


.wrapper {
    margin-right: auto; 
    margin-left:  auto;
    max-width: 960px; 
    margin-top: 50px;
}

header {
    text-align: center;
}

.section {
    margin: 5rem 0; 
}
.section__description {
    display: flex;
    justify-content: space-between;
}

/* URL to Chick-fil-A site */
.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #dd0031;
}